.bg-custom{
    background-color: #591E23
}


.navbar-light .navbar-brand {
    color: #fff;
}

.logotext{
	font-family: 'Russo One', sans-serif;
    color: #fff !important;
}

.navbar-light .navbar-nav .active > .nav-link{

	color:#fff !important;
	font-weight: 700 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-weight: 700;
}

.btn-primary{
	background-color: #710000 !important;
    color: #fff !important;
    border-color:  #710000 !important;
    border-radius: 15px;
}

.btn-ingreso{
   background: #fff;
    color: #591E23;
    border-color: #fff;
    border-radius: 15px;
    font-weight: 200
}

.btn-author{
    background-color: #fff !important;
    color: #710000 !important;
    border-color:  #710000 !important;
    border-radius: 15px; 
}

.coltitle{
    background: #FCE1AE !important;
}

.textotitle{
    font-family: 'Parisienne', cursive;
    
}
.overlay{
     background:#000;
     bottom: 0;
     left: 0;
     opacity: 0.6;
     position: absolute;
     right: 0;
     top: 0;
     padding: 2px
    

    

}

.skin-blue .main-header .navbar {
    background-color: #710000 !important;
}




a {
    color: #591E23 !important;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.card {
    
    box-shadow: 0 5px 7px #e0e5e8;
    margin-bottom: 30px;
}

.avatar {
    
    height: 100px;
    width: 100px;
   
    border-radius: 50%;
    margin-top: 15px;

}

.footer{
 background-color: #000;

}



.seller{
	background-color: #ddd;
}



@media screen and (max-width: 992px) {
	.space_login{
	padding-bottom: 5px;
	}
}

@media screen and (max-width: 992px) {
    .space_book{
    margin-bottom:5px;
    }
}